.prefBar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prefBar-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 70px;
    background-color: rgba(113, 107, 236, 0.651) ;
    width: 1000px;
    
}

.prefBar-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 0;
    
}

.prefBar-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.prefBar-icon:hover {
    transition: 400ms;
    animation: ease-in-out;
    background-color: rgb(255, 255, 255);

}


.prefBar-icon:active {
    background-color: #feb548;
}

.prefBar-icon-label {
    display: flex;
    justify-content: center;
}

.prefBar-icon-label {
    margin: 0;
}

.prefBar-icon:hover ~ .prefBar-icon-label {
    transition: 400ms;
    animation: ease-in-out;
    color: #000;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
}

.prefBar-icon div, .prefBar-icon img{
    height: 50px;
    width: 50px;
}