.main-footer {
    background-color: #020202;
    padding-top: 2em;
    position: relative;
    bottom: 0;
    width: 100%;
    color: #f5f5f559;
}

.footer-title-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.footer-content-row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-content-row-1 h3{
    font-size: .95em;
    text-decoration: underline rgba(237, 37, 77, 0.199);
}

.footer-col-row1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-row-row2 {
    display: flex;
    align-items: space-around;
}

.footer-profilePic {
    transition: 500ms;
    animation: ease-in-out;   
    border-radius: 50%;
    height: 4em;
    filter: grayscale(100%);
}

.footer-profilePic:hover {
    filter: grayscale(0%);
}

.react-icons {
    padding: .75em;
    color: #ed254e;
    filter: grayscale(100%);
}

.react-icons:hover {
    transition: 500ms;
    animation: ease-in-out;
    filter: grayscale(0%);
}

.footer-row-row2 a:active, .react-icons:active{
    background:none !important;
}

.spartnerFooterLogo{
    size: 2%;
    height: auto;
    width: 150px;
}
