.splash-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* padding-top: 4.5em; */
}

.splash-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ED254E;
}

.splash-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.splash-buttons button {
    outline: none;
    display: block;
    background-color: #ED254E;
    color: #020202;
    border: solid 1px #ED254E;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s linear;
    margin: 5px;
  }
  
  .splash-buttons button:focus {
    background-color: #020202;
    color: #ED254E;
  }
  
  .splash-buttons button:active {
    background-color: #020202;
    color: #ED254E;
    border: solid 1px #ED254E;
  }
  
  .splash-buttons button:hover {
    background-color: #020202;
    color: #ED254E;
  }

  .splash-background {
      background-image: url("https://user-images.githubusercontent.com/35717793/126691081-d55ff18a-4036-44ed-add5-07eb660bfa0d.png");
      background-size: cover;
      height: 100vh;
  }

  .splash-header {
      width: 700px;
      height: 100%;
  }