.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  -webkit-animation: fade-in 2s;
  animation: fade-in 2s;
  padding-top: 25vh;
}

.splash-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #020202;
  text-shadow: -1px -1px 0 #ed254e, 1px -1px 0 #ed254e, -1px 1px 0 #ed254e,
    1px 1px 0 #ed254e;
}

.splash-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
}

.splash-buttons a {
  text-decoration: none;
}

.splash-background {
  background-image: url('https://user-images.githubusercontent.com/35717793/126691081-d55ff18a-4036-44ed-add5-07eb660bfa0d.png');
  background-size: cover;
  height: 100vh;
}

.splash-header {
  padding: 2em;
  width: 500px;
  height: 100%;
  -webkit-animation: fade-in 2s;
  animation: fade-in 2s;
}

.splash-subheader {
  background-color: #79182b4b;
  border-radius: 10px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* splash buttons */

.splash-buttons button { 
  position: relative;
  transition: 900ms;
  animation: ease-in-out;   
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  margin: 0 5px;
  cursor: pointer;
  line-height: 80px;
}

.splash-buttons button:hover,button:active { 
  color: #fff;
  background-color: #79182b4b
}

.splash-buttons button::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ED254E;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.splash-buttons button:hover::before {
  transform: scaleX(1);
}

.splash-buttons button {
  outline: none;
  display: block;
  border: none;
  color: #ED254E;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  background: none;
  cursor: pointer;
  transition: all 0.3s linear;
  margin: 5px;
}

.splash-buttons button:focus {
  background-color: #ED254E;
  color: #020202;
}

.splash-buttons button:active {
  background: #020202;
  color: #ED254E;
  border: solid 1px #ED254E;
}

.splash-buttons button:hover {
  border: none;
  color: #020202;
}