.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* padding-top: 4.5em; */
  -webkit-animation: fade-in 2s;
  animation: fade-in 2s;
  opacity: 1;
}

.splash-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #020202;
  text-shadow: -1px -1px 0 #ed254e, 1px -1px 0 #ed254e, -1px 1px 0 #ed254e,
    1px 1px 0 #ed254e;
}

.splash-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
}

.splash-buttons a {
  text-decoration: none;
}

.splash-buttons button {
  outline: none;
  display: block;
  background-color: #ed254e;
  color: #020202;
  border: solid 1px #ed254e;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s linear;
  margin: 5px;
  -webkit-animation: fade-in 2s;
  animation: fade-in 2s;
}

.splash-buttons button:focus {
  background-color: #020202;
  color: #ed254e;
}

.splash-buttons button:active {
  background-color: #020202;
  color: #ed254e;
  border: solid 1px #ed254e;
}

.splash-buttons button:hover {
  background-color: #020202;
  color: #ed254e;
}

.splash-background {
  background-image: url('https://user-images.githubusercontent.com/35717793/126691081-d55ff18a-4036-44ed-add5-07eb660bfa0d.png');
  background-size: cover;
  height: 100vh;
}

.splash-header {
  padding: 2em;
  width: 500px;
  height: 100%;
  -webkit-animation: fade-in 2s;
  animation: fade-in 2s;
}

.splash-subheader {
  background-color: #79182b4b;
  border-radius: 10px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
