/* TODO Add site wide styles */

body {
    background-color: #2F3137;
    color: #fff;
    margin: 0;
}

/* Navbar */

.navbar{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    overflow:visible;
    margin: 0;
    background-color: #000000;
    list-style-type: none;
}

#navbar__logo{
    width: 75px;
}

li a:visited {    
    color: #fff;
}

li a {
    transition: 500ms;
    animation: ease-in-out;    
    color: #fff;
    text-decoration: none;
    background-color: #3A3B40;
}

li a:hover {    
    color: #fff;
    background-color: #868998;
    text-decoration: underline #ED254E;
}