/* TODO Add site wide styles */

body {
    background-color: #2F3137;
    color: #fff;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Navbar */

.navbar{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    overflow:visible;
    margin: 0;
    background-color: #000000;
    list-style-type: none;
}

#navbar__logo{
    width: 75px;
}

li a:visited {    
    color: #fff;
}

li a { 
    position: relative;
    transition: 900ms;
    animation: ease-in-out;   
    color: #fff;
    text-decoration: none;
    background-color: #3A3B40;
    border-radius: 3px;
}

li a:hover { 
    color: #fff;
}

li a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ED254E;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

li a:hover::before {
    transform: scaleX(1);
  }