/* TODO Add site wide styles */

body {
    background-color: #2F3137;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    box-sizing: border-box;
}

/* Navbar */

nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    font-size: 16px;
    margin-top: 0;
    background-color: #020202;
}

.navbar{
    list-style-type: none;
    float: right;
    margin-right: 20px;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 15px;
}

#navbar__logo{
    display: flex;
    width: 175px;
    /* padding: 0 100px; */
    line-height: 80px;
}

.nav-logo a:active{
    background:none !important;}

.navbar__link a:visited {    
    color: #fff;
}

.navbar__link a { 
    position: relative;
    transition: 900ms;
    animation: ease-in-out;   
    color: #fff;
    text-decoration: none;
    /* background-color: #3A3B40; */
    border-radius: 3px;
    margin: 0 5px;
    cursor: pointer;
    line-height: 80px;
}

.navbar__link a:hover,a:active { 
    color: #fff;
    background-color: rgba(134, 137, 152, 0.39)
}

.navbar__link a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ED254E;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navbar__link a:hover::before {
    transform: scaleX(1);
  }

  .navbar__button button {
    outline: none;
    display: block;
    border: solid 1px #ED254E;
    color: #ED254E;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    border-radius: 30px;
    background: #020202;
    cursor: pointer;
    transition: all 0.3s linear;
    margin: 5px;
  }
  
  .navbar__button button:focus {
    background-color: #ED254E;
    color: #020202;
  }
  
  .navbar__button button:active {
    background: #020202;
    color: #ED254E;
    border: solid 1px #ED254E;
  }
  
  .navbar__button button:hover {
    background-color: #ED254E;
    color: #020202;
  }