.main-area-container {
  margin: auto;
  background-color: #1a1a19;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.user-info-container {
  background-color: #ed254d89;
  width: 900px;
  height: 480px;
  display: flex;
  flex-direction: column;
  padding-bottom: 3em;
  transition-duration: 0s;
}

.top-row,
.user-info,
.bio-container,
.discover-btns,
.view-profile-container,
.full-name {
  display: flex;
}

.bio-right > div {
  display: flex;
  align-items: center;
}

.bio-right > div > p {
  margin-left: 1rem;
}

.user-info {
  position: relative;
  top: 0;
  width: 70%;
  justify-content: space-around;
  font-size: 18px;
}

.bio-container {
  background-color: #54545470;
  width: 900px;
  justify-content: space-between;
  margin-bottom: 220px;
}

.bio-left > div > h3 {
  color: #f06a6d;
  text-decoration: underline;
}

.top-row {
  align-items: center;
  justify-content: space-between;
}

.discover-btns {
  cursor: pointer;
  width: 15%;
  justify-content: space-around;
  width: 190px;
  margin-top: 20px;
  padding-top: 5px;
  margin-right: 20px;
  background-color: #1a1a198c;
  border-radius: 50px;
  opacity: 1;
}

.view-profile-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #736ced;
}

.view-profile-link:visited {
  color: #736ced;
}

.bio-right-icon {
  font-size: 2rem;
}

.user-picture {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin-top: 10px;
}

.user-img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 2em;
}

.bio-left,
.bio-right {
  padding-left: 1em;
  padding-right: 1em;
}

.first-name {
  margin-right: 0.5rem;
}

.discover-button {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.discover-button:hover {
  opacity: 0.8;
}

.user-info-container.right,
.bio-container.right {
  transform: translate(500%);
  transition-duration: 2s;
  /* animation: fade-out 2s; */
}

.user-info-container.left,
.bio-container.left {
  transform: translate(-500%);
  transition-duration: 2s;
}

.notification-wrapper {
  position: absolute;
  width: 500px;
  height: 80px;
  background: rgb(0, 0, 0);
  border-radius: 20px;
  margin-top: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification-wrapper > * {
  font-size: 2rem;
}

.user-info {
  align-items: center;
}

.tooltip-icon {
  margin-top: 1.5rem;
  user-select: none;
  opacity: 0.6;
}

.tooltip-icon.active {
  opacity: 1;
}

.tooltip-outer-container {
  position: absolute;
  right: -70px;
  display: flex;
  align-items: center;
  z-index: 5;
}

.tooltip-container {
  width: 250px;
  height: 100px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  animation: fade-in 1s;
  padding: 10px 0;
}

.left-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid white;
  animation: fade-in 1s;
}

.tooltip-outer-container.hidden,
.tooltip-text.hidden,
.tooltip-container.hidden,
.left-arrow.hidden {
  opacity: 0;
  animation: fade-out 0.3s;
  z-index: -10;
}

.tooltip-text {
  margin: 0.5rem;
  font-size: 0.85rem;
  color: black;
  text-align: center;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
