.main-area-container {
  margin: auto;
  background-color: #1a1a19;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.user-info-container {
  background-color: #ed254d89;
  width: 900px;
  height: 480px;
  display: flex;
  flex-direction: column;
  padding-bottom: 3em;
  transition-duration: 0s;
}

.top-row,
.user-info,
.bio-container,
.discover-btns,
.view-profile-container,
.full-name {
  display: flex;
}

.bio-right > div {
  display: flex;
  align-items: center;
}

.bio-right > div > p {
  margin-left: 1rem;
}

.user-info {
  width: 70%;
  justify-content: space-around;
  font-size: 18px;
}

.bio-container {
  background-color: #54545470;
  width: 900px;
  justify-content: space-between;
  margin-bottom: 220px;
}

.bio-left > div > h3 {
  color: #f06a6d;
  text-decoration: underline;
}

.top-row {
  align-items: center;
  justify-content: space-between;
}

.discover-btns {
  cursor: pointer;
  width: 15%;
  justify-content: space-around;
  width: 190px;
  margin-top: 20px;
  padding-top: 5px;
  margin-right: 20px;
  background-color: #1a1a198c;
  border-radius: 50px;
  opacity: 1;
}

.view-profile-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #736ced;
}

.view-profile-link:visited {
  color: #736ced;
}

.bio-right-icon {
  font-size: 2rem;
}

.user-picture {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin-top: 10px;
}

.user-img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 2em;
}

.bio-left,
.bio-right {
  padding-left: 1em;
  padding-right: 1em;
}

.first-name {
  margin-right: 0.5rem;
}

.discover-button {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.discover-button:hover {
  opacity: 0.8;
}

.user-info-container.right,
.bio-container.right {
  transform: translate(500%);
  transition-duration: 2s;
  /* animation: fade-out 2s; */
}

.user-info-container.left,
.bio-container.left {
  transform: translate(-500%);
  transition-duration: 2s;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.notification-text {
  position: absolute;
  z-index: 100;
}
